body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 100%;
  background-color:grey
}
header {
  background-color:aliceblue;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center; 
}

ul{
  list-style-type: none;
}

li{
  display:inline-block;
  font-size: 18px;
  padding: 50px;
 
}

nav{
  display:inline-block;
  width:80%;
}

nav img{
  width:10%;
}

main{
  background-color:rgb(197, 216, 233);
  font-size:large;
}
p{
  line-height:100% ;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer{
  background-color:azure;
  font-size:medium;
}

.current{
  text-transform: uppercase;
  border:solid black 1px;
  background-color:cornflowerblue;
 block-size: auto;
 
}


.parks.div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: center;
  background-color: DodgerBlue;}





